body{
    background-image: url(/desktop/icons/fundo/imagem.png);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover ;
    background-position: center;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    bottom: 0;
}

.barra {
    background: var(--cor-barra);
    width: 100vw;
    height: 3.7vh;
    display: flex;
    flex-direction: row;
}

.div-windows {
    width: 2.2vw;
    height: 3.7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-windows:hover {
    background: var(--cor-hover);
}

.div-windows:active{
    background: var(--cor-hover);
}

.div-windows.active {
    background: var(--cor-hover);
}

.icon-white {
    height: 1.7vh;
}

.icon-blue {
    height: 1.7vh;
    display: none;
}

.popup-windows {
    background: var(--cor-popUp);
    width: 34%; 
    height: 0vh;
    transition: height 0.2s ease;
}

.popup-windows.active {
    height: 55.5vh;
}

.sidebar {
    width: 2.2vw;
    height: 0vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    justify-content: end;
    position: fixed;
    
    
}

.sidebar.active {
    height: 55.5vh;
}

.sidebar:hover {
    width: 14vw;
    transition-delay: 1s;
    transition-duration: 0.5s;
    background: var(--cor-lateral);
}

.power-off {
    width: 14vw;
    height: 3.7vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10%;
    padding-left: 30%;
    right: 0;
}

.power-off.active {
    position: relative;
    right: 3.5vw;
    transition-delay: 1s;
    transition-duration: 0.5s;
}

.power-off p {
    font-size: 0.8vw;
    color: var(--cor-fonte);
    position: relative;
    top: 1.5%;
}

.icon-power-off {
    height: 1.4vh;
}

.power-off:hover {
    background: var(--cor-hover);
}

nav a {
    text-decoration: none;
}

.container-time {
    color: var(--cor-fonte);
    font-size: 1.2vh;
    height: 3.7vh;
    width: 7vh;
    position: absolute;
    right: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-time:hover {
    background: var(--cor-hover);
}

.clock {
   display: flex;
}

.popup-restart {
    position: absolute;
    bottom: 7.7vh;
    width: 14vw;
    height: 5.5vw;
    background: var(--cor-reiniciar);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    overflow: hidden;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
   
}

.popup-restart.active{
    overflow: hidden;
    width: 14vw;
    height: 0vw;
}

.suspend {
    background: var(--cor-reiniciar);
    width: 13.5vw;
    height: 1.65vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5vw;
    gap: 0.5vw;
}

.suspend p {
    color: var(--cor-fonte);
    font-size: 0.6vw;
}

.suspend:hover {
    background: var(--cor-hover-icon);
}

.desligar {
    background: var(--cor-reiniciar);
    width: 13.5vw;
    height: 1.65vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5vw;
    gap: 0.5vw;
}

.desligar p {
    color: var(--cor-fonte);
    font-size: 0.6vw;
}

.desligar:hover {
    background: var(--cor-hover-icon);
    
}

.restart {
    background: var(--cor-reiniciar);
    width: 13.6vw;
    height: 1.65vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.4vw;
    gap: 0.5vw;
}

.restart p {
    color: var(--cor-fonte);
    font-size: 0.6vw;
}

.restart:hover {
    background: var(--cor-hover-icon);
    
}
