body {
    background-image: url(img/beach-cove-computer-lock-screen-04be5pfbvoowaw3x.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}

.container {
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: stretch;
    align-items: end;
}

.clock {
    color: aliceblue;
    font-size: 6.5vw;
    display: flex;
    gap: 0.2%;
}

.date {
    color: aliceblue;
    font-size: 3vw;
}

.tempo {
   padding-left: 2vw;
   padding-bottom: 5vw;
   position: absolute;
} 

.tempo.active {
    padding-bottom: 6vw;
    opacity: 0;
    transition-duration: 0.1s;
}

.icon-user {
    height: 52%;
}

.circle {
    width: 200px;
    height: 200px;
    background-color: rgb(228, 228, 228);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
   
}

.bloco-login {
    height: 100vh;
    width: 100vw;
    color: beige;
    opacity: 0;
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.titulo-login {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    bottom: 29px;
    font-weight: 400;
    font-size: 3em;
}

.input-password {
    padding: 9px;
    width: 20em;
    position: relative;
    top: -49px;
    border: 2px solid grey;
    outline: none;
}

.input-password:hover {
    border: 2px solid white;
}