:root {
    --cor-barra: #1d1d1ddb;
    --cor-popUp: #13161bdb;
    --cor-lateral: #1d2128ac;
    --cor-reiniciar: #13161bec;
    --cor-hover: rgba(98, 97, 97, 0.573);
    --cor-fonte: white;
    --cor-hover-icon: #616060;
}