body{
    background-image: url(img/imagem.png);
    background-size: cover ;
    background-position: center;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: absolute;
    bottom: 0;
}

.barra {
    background-color: rgba(5, 13, 44, 0.882);
    width: 100vw;
    height: 3.7vh;
}

.windows {
    width: 2.2vw;
    height: 3.7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.windows:hover {
    background: rgba(98, 97, 97, 0.573);
}

.windows:active{
    background: rgba(98, 97, 97, 0.573);
}

.windows.active {
    background: rgba(98, 97, 97, 0.573);
}

.icon-white {
    height: 1.7vh;
}

.icon-blue {
    height: 1.7vh;
    display: none;
}

.popup-windows {
    background: rgba(3, 6, 19, 0.821);
    width: 34%; 
    height: 0vh;
    transition: height 0.2s ease;
}

.popup-windows.active {
    height: 55.5vh;
}

.sidebar {
    width: 2.2vw;
    height: 0vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    justify-content: end;
    position: fixed;
    transition: height 0.2s ease;
    
}

.sidebar.active {
    height: 55.5vh;
}

.sidebar:hover {
    width: 14vw;
    transition-delay: 1s;
    transition-duration: 0.5s;
    background: rgba(3, 6, 19, 0.821);
}

.power-off {
    width: 14vw;
    height: 3.7vh;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 7px;
}

.power-off p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.816);
    position: relative;
    top: 1.5%;
}

.icon-power-off {
    height: 1.4vh;
}

.power-off:hover {
    background: rgba(98, 97, 97, 0.573);
}

nav a {
    text-decoration: none;
}



